Explain the key features of Python that make it a popular choice for programming.

python is most accesible open-source coding language as it has a simple syntax to code.
features of python:
**portable language**:It can run on linux,mac os ,windows
**standard library**  :large standard library that provides set of modules and functions.
**high-level language**:it is a general purpose human-language.
**Ease of learning**:Easy to understand & code.
**Open-sourc**e:Lfree to download easily from official website.
**Dynamic language**:Declaring rthe type of variable.

Describe the role of predefined keywords in Python and provide examples of how they are used in a program

pre-defined keywords:Keywords are pre-defined functions? variables in python and they are used to define the syntax of the code.
some keywords in python are :True ,False,break.
Some Pre-defined data types:
Numeric data-type:It represents the data that has the numeric value.
the value xcan be an integer,float,complex.
example:

In [1]:
a=5
print("type of a")
print(type(a))

type of a
<class 'int'>

In [3]:
b=5.0
print("type of b")
print(type(b))

type of b
<class 'float'>

In [4]:
c=2+4j
print("type of c")
print(type(c))

type of c
<class 'complex'>

Character data type :
to verify the type of any data in python use type() function

In [5]:
X="hello world"
print(type(X))

<class 'str'>

3.*0 Compare and contrast mutable and imutable objects in Python with examples

the objects in python are classifiesd as mutable and immutable objects

Mutable objects :the objects that can be changed their size,state or value after they are created is kbnown as mutable objects.
examnple :list

Immutable :the objects that cannot be changed after they are created is known as Immutable objects .
example:string.

4./0 Discuss the different types of operators in Python and provide examples of how they are used

python operators are special symols
types of operators
1.Arthematic operators -addition,subtraction,multiplication,divison
example:a+b,a-b....
2.Comparison operators :eqal to,not equal to, greater than,less than, greater than or equal to, less than or equal to.
3.logical operators:logical and,logiacal not,logical or
4.Bit-wise operators:Bitwise and,Bitwise or,Bitwise Xor,Bitwise Not,Bitwise left shift,Bitwise right shift
5.Assignment operators :Assignment and,add and Assignment,subtract and assignment,multiply and assignmenty,divide and assignmenrt
6.Identify assignment:is and is not
7.Membership assignment :In and not in.

Explain the concept of type casting in Python with examples

Type casting is the method to convert the Python variable datatype

these are 2 types of type casting :Implict and Explict
Implict:It converts the data type automatically
like int to float
Explict :It needs user involment to cionvert the variable data type into the required data type.

6.How do conditional statements work in Python? Illustrate with examples

Conditional statements are used to execute code based on the evaluation of one or more conditions
Conditional statements in python are if,else,elif

In [6]:
num=5
if num>0:
  print("positive number")
elif num==0:
  print("zero")
else:
  print("negative number")

positive number

In [8]:
num= -5
if num>0:
  print("positive number")
else:
  print("negative number")

negative number

In [9]:
num=0
if num>0:
  print("positive number")
elif num==0:
  print("zero")
else:
  print("negative number")

zero

7 Describe the different types of loops in Python and their use cases with examples

There are two types of loops in Python : For loop & While loop

While loop:It is used to execute a block of statements repeatedly untill a given condition is satisfied.

In [10]:
count=0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

For loop:it is sequential transversal.

In [11]:
n=4
for i in range(0,n):
  print(i)

0
1
2
3